/* Colors */
$primary-color: #1B95D4;
$secondary-color: #9C27B0;
$secondary-color-light: #dd92ea;
$text-color: #000;
$text-color-light: #fff;
$background-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);

// home
$home-status-background-color: rgba(0, 30, 30, 0.8);
$home-background-color: rgba(27, 150, 212, 0.2);
$home-btn-shadow-color: rgba(255, 255, 255, 0.2);
$home-btn-border-color: rgba(255, 255, 255, 0.8);
$home-btn-background-color: rgba(0, 30, 30, 0.3);

// dialog
$dialog-border-color: rgba(255, 255, 255, 0.5);
$dialog-background-color: rgba(17, 17, 17, 0.8);
$dialog-btn-border-color: rgba(89, 107, 121, 0.8);
$dialog-btn-background-color: rgba(33, 33, 33, 0.9);

/* Other */
$border-radius: 15px;
$blur-size: 3px;
